.pelicula {
  display: flex;
  flex-direction: column;
  background-color:  rgb(255, 144, 177);
  color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 25px 25px;
  width: 200px;
  box-sizing: border-box;
  margin: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.pelicula img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  padding: 13px 0;
}

.pelicula h3, .pelicula p {
  font-family: 'Sans-serif', sans-serif;
  color: #000000;
}

button {
  background: linear-gradient(135deg, #f7c1d1, #f5f0b5); 
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: linear-gradient(135deg, #f0ff6b, #f7c1d1);
  transform: scale(1.18);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}


@media (max-width: 480px) {
  .pelicula {
    width: 70%;
  }

  .pelicula h3 {
    font-size: 14px;
  }

  .pelicula p {
    font-size: 12px;
  }

  button {
    padding: 5px 10px;
    font-size: 12px;
  }
}