.footer {
    background: linear-gradient(135deg, #f0ff6b, #f7c1d1);
    padding: 20px 0;
    text-align: center;
    border: 3px solid #ac2652;
    border-radius: 20px;
}

.footer p {
    color:  #791133; 
    font-size: 18px;
    font-family: 'Cursive', sans-serif; 
    margin: 0;
    font-weight: bold;
}